{% extends 'layout.html' %}

{% block body %}
  <h1>Cast Vote</h1>

  <form method="POST" action="">
    <form action="" method="POST">
      <div class="form-group">
        <label>Voter Id</label>
        <input type="text" name="voterid" class="form-control" value={{request.form.voterid}}>
      </div>
      <div class="form-group">
        <label>Candidate</label>
        <input type="text" name="candidate" class="form-control" value={{request.form.candidate}}>
      </div>
      <div class="form-group">
        <label>Private Key</label>
        <input type="text" name="private_key" class="form-control" value={{request.form.private_key}}>
      </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
{% endblock %}